<mat-divider></mat-divider>
<mat-tab-group>
  <mat-tab label="Main"> 
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
    </mat-form-field>
<div class="mat-elevation-z8">
    
    <table mat-table [dataSource]="dataSource" matSort>

      
      <!-- Job Date Column -->
      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>JOB DATE</th>
        <td mat-cell *matCellDef="let element"> {{element.created_at | date:"MM/dd/yy"}} </td>
      </ng-container>
      
      <!-- Container Number Column -->
      <ng-container matColumnDef="container_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTAINER NUMBER</th>
        <td mat-cell *matCellDef="let element"> <a routerLink="/consignment/{{element.container}}">{{element.container}} </a></td>
      </ng-container>

      <ng-container matColumnDef="shipper">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SHIPPER</th>
        <td mat-cell *matCellDef="let element"> {{element.shipper}} </td>
      </ng-container>
      
      <ng-container matColumnDef="line">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LINE</th>
        <td mat-cell *matCellDef="let element"> {{element.line['name']}} </td>
      </ng-container>

      <ng-container matColumnDef="departure">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTURE</th>
        <td mat-cell *matCellDef="let element"> {{element.departure}} </td>
      </ng-container>

      <ng-container matColumnDef="arrival">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ARRIVAL</th>
        <td mat-cell *matCellDef="let element"> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="vessel">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> VESSEL</th>
        <td mat-cell *matCellDef="let element"> {{element.vessel['name']}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> COMPLETED</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="receipt_number">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RECEIPT NUMBER</th>
        <td mat-cell *matCellDef="let element"> {{element.receipt_number}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-tab>
<mat-tab label="Shippers"> Content 2 </mat-tab>
<mat-tab label="Line/Vessels"> Content 3 </mat-tab>
<mat-tab label="Reporting"> Content 3 </mat-tab>
</mat-tab-group>