<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="ID">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Job Date Column -->
      <ng-container matColumnDef="JOBDATE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>JOB DATE</th>
        <td mat-cell *matCellDef="let element"> {{element.jobDate}} </td>
      </ng-container>
      
      <!-- Container Number Column -->
      <ng-container matColumnDef="CONTAINER">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CONTAINER NUMBER</th>
        <td mat-cell *matCellDef="let element"> {{element.containerNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="SHIPPER">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SHIPPER</th>
        <td mat-cell *matCellDef="let element"> {{element.shipper}} </td>
      </ng-container>
      
      <ng-container matColumnDef="LINE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> LINE</th>
        <td mat-cell *matCellDef="let element"> {{element.line}} </td>
      </ng-container>

      <ng-container matColumnDef="DEPARTURE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> DEPARTURE</th>
        <td mat-cell *matCellDef="let element"> {{element.departure}} </td>
      </ng-container>

      <ng-container matColumnDef="ARRIVAL">
        <th mat-header-cell *matHeaderCellDef> ARRIVAL</th>
        <td mat-cell *matCellDef="let element"> {{element.arrival}} </td>
      </ng-container>

      <ng-container matColumnDef="VESSEL">
        <th mat-header-cell *matHeaderCellDef> VESSEL</th>
        <td mat-cell *matCellDef="let element"> {{element.vessel}} </td>
      </ng-container>

      <ng-container matColumnDef="COMPLETE">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> COMPLETED</th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="RECEIPT">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> RECEIPT NUMBER</th>
        <td mat-cell *matCellDef="let element"> {{element.receiptNumber}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
